.benefit-row {
  position: relative;
}

.benefit-row--triangle:before {
  content: "";
  display: block;
  height: 37px;
  position: absolute;
  top: -37px;
  width: 100%;
  z-index: 1;
  background: $primary-color url("../img/bg-triangle.svg") no-repeat;
}

@media #{$tablet-width} {
  // FIRST BENEFIT
  .benefit-row {
    display: flex;
  }

  // SECOND BENEFIT
  .benefit-row--invert {
    display: flex;
    flex-direction: row-reverse;
  }

  .benefit-row--triangle:before {
    display: none;
  }
}
