.btn {
  width: 280px;
  height: 60px;
  background-color: $primary-color;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  display: block;
}
