// BORDER FOR FEEDBACK BLOCK
.feedback form > div {
  border-top: 1px solid $generic-border-color;
}

.feedback form > div:last-child {
  border: 0;
}

// GENERAL PROPERTIES
.feedback fieldset {
  border: 0;
  padding: 25px 20px;
  margin: 0;
}

.feedback legend {
  padding-top: 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 0;
}

.feedback label {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback input {
  padding: 16px 22px;
  background-color: $input-text-bg;
  border: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black-color;
}

// NAME
.feedback__name {
  label {
    display: inline-block;
    margin-right: 15px;
  }
  input {
    display: inline-block;

  }
}

.feedback__firstName-wrapper,
.feedback__lastName-wrapper {
  margin-bottom: 20px;
}

.feedback__firstName-wrapper,
.feedback__lastName-wrapper,
.feedback__middleName-wrapper {
  display: flex;
}

// CONTACTS
.feedback__contacts label {
  display: inline-block;
  margin-bottom: 12px;
}

.feedback__input-with-icon {
  font-size: 0;
}

.feedback__input-with-icon input {

}

.feedback__input-with-icon:after {
  content: "";
  display: inline-block;
  vertical-align: top;
  background-color: $input-icon-bg;
  background-position: center center;
  background-repeat: no-repeat;
  height: 58px;
  width: 58px;
}

.feedback__input-with-icon--phone:after {
  // DO NOT MODIFITY BECAUSE BACKGROUND COLOR MATTERS!
  background-image: url("../img/icon-phone.svg");
}

.feedback__input-with-icon--email:after {
  // DO NOT MODIFITY BECAUSE BACKGROUND COLOR MATTERS!
  background-image: url("../img/icon-mail.svg");
}

// PHONE VALIDATION MESSAGE
.feedback__phone-validation {
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0 20px 22px;
  color: $warning-color;
}

// FEELINGS
.feedback__feeling-item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__feeling-item input[type="radio"] {
  display: none;
}

.feedback__feeling-item label {
  display: inline-block;
  padding-left: 80px;
  position: relative;
  cursor: pointer;
  min-height: 56px;
  line-height: 56px;
}

.feedback__feeling-item label::before {
  content: "";
  display: block;
  height: 56px;
  width: 56px;
  background-color: $radio-bg-color;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.feedback__feeling-item label::after {
  content: "";
  display: none;
  height: 22px;
  width: 22px;
  background-color: $radio-checked-color;
  position: absolute;
  top: 17px;
  left: 17px;
  border-radius: 50%;
}

.feedback__feelings input[type="radio"]:checked + label::after {
  display: block;
}

// VISITED PLACES
.feedback__place-item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__visited-places input[type="checkbox"] {
  display: none;
}

.feedback__visited-places label {
  display: inline-block;
  padding-left: 80px;
  position: relative;
  cursor: pointer;
  min-height: 56px;
  line-height: 56px;
}

.feedback__visited-places label::before {
  content: "";
  display: block;
  height: 56px;
  width: 56px;
  background-color: $radio-bg-color;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.feedback__visited-places label::after {
  content: "";
  display: none;
  height: 16px;
  width: 24px;
  background: url("../img/icon-tick.svg") no-repeat;
  position: absolute;
  top: 20px;
  left: 17px;
}

.feedback__visited-places input[type="checkbox"]:checked + label::after {
  display: block;
}

// EMOTIONS
.feedback__emotions-text textarea {
  padding: 16px 22px;
  width: 100%;
  min-height: 160px;
}

// SUBMIT
.feedback__submit {
  margin: 25px 0 35px;
}

.feedback__submit .btn {
  margin: 0 auto;
}

// TABLET STYLES
@media #{$tablet-width} {

  .feedback__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .feedback__feelings {
    order: 1;
  }

  .feedback__name {
    order: 2;
  }

  .feedback__contacts {
    flex-basis: 100%;
    order: 3;
  }

  .feedback__visited-places {
    order: 4;
  }

  .feedback__emotions-text {
    order: 5;
  }

  .feedback__submit {
    order: 6;
  }
}
