// Menu
.main-nav {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 56px;
  // some magic code....
  min-height: 1px;
}

.main-nav .logo {
  position: absolute;
  bottom: -85px;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  background-color: #81b3d2;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  line-height: 13px;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  border-bottom: none;
}

.main-nav__item a {
  color: $white-color;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

// Mobile buttons
.main-nav__toggle-open {
  border: 0;
  background-color: $white-color;
  position: absolute;
  width: 23px;
  height: 21px;
  bottom: -39px;
  right: 22px;
  cursor: pointer;
}

.main-nav__toggle-close {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 17px;
}

@media #{$mobile-widths-only} {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--closed .main-nav__toggle-close {
    display: none;
  }
}

@media #{$tablet-width} {
  // Menu
  .main-nav {
    margin: 0;
  }

  .main-nav .logo {
    top: 0;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    background-color: transparent;
    display: inline-block;
    border: 0;
    width: 150px;
    text-align: center;
  }

  .main-nav__item a {
    color: $black-color;
    font-size: 14px;
  }

  // Mobile buttons
  .main-nav__toggle-open,
  .main-nav__toggle-close {
    display: none;
  }

}

@media #{$desktop-width} {
  // Menu
  .main-nav__item {
    width: 240px;
  }
}
