.main-nav {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 57px;
}

.main-nav__logo {
  width: 102px;
  height: 84px;
  position: absolute;
  bottom: -84px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.main-nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  background-color: $primary-color;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  border-bottom: none;
}

.main-nav__item a {
  color: $white-color;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

.main-nav__toggle-open {
  border: 0;
  background-color: $white-color;
  position: absolute;
  width: 23px;
  height: 21px;
  bottom: -39px;
  right: 22px;

}

.main-nav__toggle-close {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 17px;
}

@media #{$tablet-width} {
  .main-nav {
    margin: 0;
  }

  .main-nav__items {
    padding-left: 50px;
  }

  .main-nav__item {
    display: inline-block;
    background-color: $white-color;
    border: 0;

    &:nth-child(1) {
      margin-right: 73px;
    }

    &:nth-child(2) {
      margin-right: 205px;
    }

    &:nth-child(3) {
      margin-right: 45px;
    }
  }

  .main-nav__item a {
    font-size: 14px;
  }

  .main-nav__item a {
    color: $black-color;
  }

  .main-nav__toggle-open,
  .main-nav__toggle-close {
    display: none;
  }

  .main-nav__logo {
    top: 0;
  }
}

@media #{$desktop-width} {
  .main-nav__items {
    padding-left: 90px;
  }

  .main-nav__item {
    &:nth-child(1) {
      margin-right: 165px;
    }

    &:nth-child(2) {
      margin-right: 382px;
    }

    &:nth-child(3) {
      margin-right: 140px;
    }
  }
}
