.page-footer {
  padding: 40px 0 35px;
  background-color: $lightgray-color;
  font-size: 0;
}

.page-footer__text {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.page-footer__item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media #{$tablet-width} {
  .page-footer {
    padding: 35px 60px;
  }

  .page-footer__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 33.3%;

    .copyright {
      text-align: right;
    }

    .page-footer__text {
      text-align: left;
    }
  }
}

