// PAGE HEADER
.page-header {
  position: relative;
  padding-bottom: 35px;
}

// PAGE HEADER LOGO
.page-header .logo {
  position: absolute;
  top: 222px;;
  z-index: 1;
  left: 0;
  right: 0;
  margin: auto;
}

// PAGE HEADER PROMO
.page-header__promo {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  min-height: 160px;
  padding-top: 54px;

  img {
    width: 230px;
    margin: 0 auto;
    display: block;
  }
}

.page-header__promo--big {
  padding-top: 90px;
  min-height: 390px;

  img {
    width: 280px;
  }
}

.page-header__promo::after {
  content: "";
  display: block;
  position: absolute;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat;
  background-size: 333px;
  height: 27px;
  bottom: 0;
  background-position-x: -3px;
  width: 100%;
}

// PAGE TITLE
.page-header__title-wrapper {
  text-align: center;
  padding-top: 45px;
  text-transform: uppercase;
  margin: 0 30px;
}

.page-header__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 35px;
}

.page-header__sub-title {
  font-size: 14px;
  line-height: 24px;
  color: $general-desc-color;;
}

// TABLET STYLES
@media #{$tablet-width} {
  .page-header {
    padding-bottom: 55px;
  }
  // PAGE HEADER LOGO
  .page-header .logo {
    top: 0;
  }

  // PAGE HEADER PROMO
  .page-header__promo {
    min-height: 290px;
    padding-top: 95px;
    img {
      width: 460px;
    }
  }

  .page-header__promo--big {
    min-height: 520px;
  }

  .page-header__promo::after {
    background-size: 776px;
    height: 63px;
    background-position-x: -2px;
  }

  // PAGE TITLE
  .page-header__title-wrapper {
    margin-left: 135px;
    margin-right: 135px;
  }

  .page-header__title {
    font-size: 21px;
  }
}

@media #{$desktop-width} {
  // PAGE HEADER PROMO
  .page-header__promo {
    min-height: 300px;
    padding-top: 105px;
  }

  .page-header__promo--big {
    min-height: 520px;
  }
  .page-header__promo::after {
    background-size: 1207px;
    height: 98px;
    background-position-x: -3px;
  }

  // PAGE TITLE
  .page-header__title-wrapper {
    margin-left: 350px;
    margin-right: 350px;
  }
}
