.photo-item {
  border-top: 1px solid $generic-border-color;
  padding: 24px 20px;
}

.photo-item--border-bottom {
  border-bottom: 1px solid $generic-border-color;
}

.photo-item__img-wrapper img {
  height: 280px;
  width: 280px;
}

.photo-item__img-wrapper {
  margin-bottom: 22px;
}

.photo-item__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photo-item__author {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 15px;
  display: block;
}

.photo-item__likes-count {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-left: 15px;
}
