.video {
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

.video__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}

.video__subtitle {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 43px;
  padding: 0 25px;
  color: $general-desc-color;
}

.video__player-control-panel {
  margin: -49px 20px 0 20px;
}

.video__player-scroll-wrapper {
  background-color: rgba(0, 0, 0, .6);
  height: 45px;
  position: relative;
}

.video__player-scroll {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  padding: 0 22px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// это только для chrome. :/
.video__player-scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -3px;
}

.video__player-scroll:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.video__player-scroll::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.3px;
}

.video__player-controls {
  padding: 22px 23px 24px 25px;
  font-size: 0;
  background-color: #f2f2f2;
}

.video__player-controls:after {
  content: "";
  display: table;
  clear: both;
}

.video__player-left-controlls-wrapper {
  float: left;
}

.video__player-right-controlls-wrapper {
  float: right;
}

.video__player-right-controlls-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.video__player-control {
  display: inline-block;
}

.video__player-control--replay {
  width: 16px;
  height: 20px;
  background: url("../img/icon-video-replay.svg") no-repeat;
  background-size: cover;
}

.video__player-control--subtitles {
  width: 32px;
  height: 20px;
  background: url("../img/icon-video-subtitles.svg") no-repeat;
  background-size: cover;
  margin-right: 21px;
  float: left;
}

.video__player-control--fullscreen {
  height: 20px;
  width: 20px;
  background: url("../img/icon-video-fullscreen.svg") no-repeat;
  background-size: cover;
  float: right;
}

// TABLET STYLES
@media #{$tablet-width} {
  .video {
    padding: 60px 60px 40px 60px;
  }

  .video__player-control-panel {
    margin: -93px 0 0;
    position: relative;
  }

  .video__player-scroll-wrapper {
    height: 90px;
  }

  .video__player-scroll {
    padding: 0 166px 0 93px;
  }

  .video__player-controls {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 36px 41px 36px 35px;
  }

  .video__player-control--subtitles {
    margin-right: 31px;
  }
}

// DESKTOP WIDTH
@media #{$desktop-width} {
  .video {
    padding-bottom: 86px;
  }
}
